.backImage{
    background-image:  url('/DSC_0001.JPG');
    background-size: cover;
    background-attachment: fixed;
    min-height: 500px;
}

.customShadow {
   box-shadow: 5px 10px 5px rgba(0, 0, 0, 0.377);
}