/* .crop-height { */
    /* max-width: 1200px; /* native or declared width of img src (if known) */
      /* max-height: 70%; */
      /* overflow: hidden; } */
  
  /* img.scale { */
    /* corrects small inline gap at bottom of containing div */
      /* display: block;  */
    /* width: 100%;  */
    /* object-fit: cover !important; */
      /* max-width: 100%; */
      /* just in case, to force correct aspect ratio */
      /* height: auto !important; */
    /* display: block; corrects small inline gap at bottom of containing div */
    /* width: 100%;  */
    /* max-width: 100%;
    max-height: 750px;
    width: auto;  */
    /* ie8+9 - use modernizr instead of this \9 hack */
    /* lt ie8 */
    /* -ms-interpolation-mode: bicubic; */
       /* min-height: 320px; 
      min-width: 480px;  } */

/* img {
  object-fit: cover !important;
  text-indent: -9999px;
} */