h5 , p{
    color: whitesmoke;
}

/* .carousel-control-prev-icon,
.carousel-control-next-icon {
  height: 10px;
  width: 10px;
  outline: black; 
  background-size: 100%, 100%;
  border-radius: 50%;
  border: 1px solid black;
  background-image: none ; 
}

.carousel-control-next-icon:after
{
  content: '>';
  font-size: 55px;
  color: black;
}

.carousel-control-prev-icon:after {
  content: '<';
  font-size: 55px;
  color: black;
} */

.carousel-control-next,
.carousel-control-prev /*, .carousel-indicators */ {
    filter: invert(100%);
}

.carousel-indicators button {filter: invert(100%);}