@import url(//db.onlinewebfonts.com/c/e46b54d6b7af4637d63e5a4f467c3a66?family=KuenstlerScriptW01-2Bold);

nav {

    background-color: rgb(0, 0,0, .85);

}
 
.a {
    color: white ;
    text-decoration: none;
  }

.a:hover{
    color: white ;
    font-weight: bold; /* Inherits color property from its parent */
}